.tarea-formulario {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.tarea-input {
    width: 350px;
    font-size: 18px;
    background: white;
    padding: 14px 32px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid green;
    outline: none;
}
.tarea-boton {
    padding: 16px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none; 
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: rgb(53, 147, 53);
    color: #fff;
    text-transform: capitalize;
}